body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-image: url(../img/interlaced.png);
  background-blend-mode: color-burn;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 500px;
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
  background-image: url(../img/header.jpg);
  color: rgb(20, 20, 20);
}

header h1 {
  width: 50%;
  font-size: 450%;
  border: 10px solid black;
  padding: 20px;
  margin: 100px auto;
  background-color: rgba(150, 150, 150, 0.4);
}

@media screen and (max-width: 600px){
  header h1{
    width: 70%;
    font-size: 400%;
  }
}

/* ######### NAVIGATON STYLE ######### */

nav {
  height: 80px;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

@media screen and (max-width: 600px){
  nav{
    display: none;
  }
}

nav a{
  text-decoration: none;
  color: rgb(220,220,220);
}

.user {
  float: right;
  list-style-type: none;
  color: aliceblue;
  line-height: 40px;
}

.user li {
  float: left;
  padding: 10px 10px 8px 10px;
  font-size: 140%;
  cursor: pointer;
}

.user li:hover {
  color: rgb(255, 255, 255);
}

/* ######### MOBILE NAVIGATION ######### */

.mobile-nav{
  position: fixed;
  width: 100%;
  height: 100%;
  top: -15px;
  /* margin: 0 auto; */
  z-index: 1000;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.mobile-ul{
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-top: 200px;
  background-color: rgba(0,0,0,0.9);
  z-index: 1000;
}

.mobile-li{
  padding: 40px;
}

.mobile-li a {
  text-decoration: none;
  color: rgb(220,220,220);
  font-size: 200%;
}

.mobile-li a:hover{
  color: rgb(255,255,255);
}

.burger-menu{
  position: fixed;
  height: 25px;
  width: 45px;
  padding: 5px;
  right: 30px;
  bottom: 40px;
  z-index: 2000;
  text-align: center;
  opacity: 1.6;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.burger-div{
  margin: 0 auto;
  height: 5px;
  width: 45px;
  background-color: black;
  margin-bottom: 5px;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.left-to-right{
  -webkit-transform: rotate(45deg) translateY(5px) translateX(10px);
          -ms-transform: rotate(45deg) translateY(5px) translateX(10px);
      transform: rotate(45deg) translateY(5px) translateX(10px);
  background-color: rgb(180,0,0);
}

.right-to-left{
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(8px);
          -ms-transform: rotate(-45deg) translateY(-5px) translateX(8px);
      transform: rotate(-45deg) translateY(-5px) translateX(8px);
  background-color: rgb(180,0,0);
}

.wrapper {
  position: relative;
  width: 90%;
  padding: 0;
  margin: 100px auto;
  text-align: center;
}

@media screen and (max-width: 600px){
  .wrapper{
    width: 100%;
  }
}

/* ######### SEARCHBAR STYLE ######### */

.search-input{
  margin: 0 auto;
  width: 90%;
  padding: 5px;
}

/* ######### TEXT EDITOR STYLE ######### */

.post-form {
  width: 50%;
  margin: 30px auto;
  height: 0px;
  transition: height 750ms ease-in-out;
}

#title {
  z-index: 100;
  margin: 0 0 10px 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid rgb(140, 140, 140);
  transition: all 750ms ease-in-out;
  overflow-wrap: anywhere;
}

#content {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(140, 140, 140);
  transition: all 750ms ease-in-out;
}

.container{
  width: 100%;
  z-index: 200;
}

.send-btn{
  position: absolute;
  margin-top: 30px;
  width: 150px;
  height: 35px;
  left: 50%;
  transform: translateX(-50%);  
  z-index: 200;
  transition: all 750ms ease-in-out;
}

.posts {
  width: 90%;
  margin: 0 auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/* ######### POST STYLE ######### */

.post {
  position: relative;
  width: 100%;
  min-width: 290px;
  min-height: 350px;
  margin: 20px 0px 20px 0px;
  opacity: 1;
  background-color: #3949AB;
  border-top: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation: slide-left-right 1000ms ease-in;
}

@media screen and (max-width: 800px){
  .post{
    height: 400px;
  }
}
.post:nth-child(odd) {
  background-color: #E65100;
}


.post-title {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(20, 20, 20);
}

.post-content {
  position: absolute;
  padding: 0px 10px 10px 10px;
  text-align: left;
  font-size: 110%;
}

.post-date {
  position: absolute;
  bottom: 40px;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  font-size: 75%;
}

.post-author {
  position: absolute;
  bottom: 0px;
  width: 75%;
  padding: 10px;
  border-top: 1px solid rgba(100, 100, 100, 0.4);
  font-size: 75%;
}

.delete-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

/* ######### LAYOUT STYLE ######### */

.column {
  position: absolute;
  width: 32%;
  height: 100%;
}

.col1 {
  left: 0%;
}

.col2 {
  left: 33%;
}

.col3 {
  left: 66%;
}

.col1 .post:nth-child(3n+1) {
  height: 450px;
  background-color: #E91E63;
  animation: slide-right-left 800ms ease-in;
}

@media screen and (max-width: 800px){
  .col1 .post:nth-child(3n+1){
    height: 400px;
  }
}

.col1 .post:nth-child(4n+2) {
  height: 550px;
  background-color: #03A9F4;
  animation: slide-left-right 1000ms ease-in;
}

@media screen and (max-width: 800px){
  .col1 .post:nth-child(4n+2){
    height: 400px;
  }
}

.col2 .post:nth-child(3n+1) {
  height: 600px;
  background-color: #009688;
  animation: slide-left-right 700ms ease-in;
}

.col2 .post:nth-child(3n+3) {
  height: 400px;
  background-color: #FF9800;
  animation: slide-right-left 1200ms ease-in;
}

.col3 .post:nth-child(3n+2) {
  height: 650px;
  background-color: #7CB342;
  animation: slide-right-left 600ms ease-in;
}

.col3 .post:nth-child(5n+2) {
  height: 500px;
  background-color: #E53935;
  animation: slide-right-left 900ms ease-in;
}



/* ######### FULL STORY STYLE ######### */

.story-full{
  position: fixed;
  width: 85%;
  max-width: 900px;
  height: auto;
  left: 50%;
  top: 0%;
  bottom: 0%;
  transform: translateX(-50%);
  color: rgb(220,220,220);
  background-color: rgba(0,0,0,0.8);
  overflow-y: scroll;
  z-index: 301;
  padding: 20px;
  margin-bottom: 40px;
  transition: opacity 500ms ease-in-out;
}

@media screen and (max-width: 800px){
  .story-full{
    top: -130px;
  }
}

.story-title{
  text-align: center;
  font-size: 150%;
  padding: 20px;
}

.info-row{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.4);
}

.story-author{
  float: right;
}

.story-date{
  float: left;
}

.story-content{
  width: 75%;
  height: 100%;
  margin: 50px auto;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 800px){
  .story-content{
    width: 100%;
  }
  .story-full{
    width: 100%;
    margin-top: 100px;
  }
}

.dark-container{
  position: fixed;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  transition: opacity 200ms ease-in-out;
}

.back-btn{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  max-width: 900px;
  height: 40px;
  padding: 0 20px 0 20px;
  background-color: rgba(220,220,220,0.8);
  text-align: center;
  font-size: 150%;
  line-height: 40px;
  z-index: 302;
  transition: opacity 300ms ease-in-out;
}

@media screen and (max-width: 800px){
  .dark-container{
    height: 120%;
    background-color: rgba(0,0,0,0.3);
  }
}


/* ######## HELPER CLASSES ######## */
.hidden{
  opacity: 0;
  visibility: hidden;
  height: 0px;
  width: 0px;
  transition: opacity 500ms ease-in-out;
}

.no-opacity{
  opacity: 0.0;
}

@keyframes slide-left-right {
  0% {
      opacity: 0;
      /* transform: translateX(-20px); */
  }
  100% {
      opacity: 1;
      /* transform: translateX(0); */
  }
}

@keyframes slide-right-left {
  0% {
      opacity: 0;
      /* transform: translateX(20px); */
  }
  100% {
      opacity: 1;
      /* transform: translateX(0); */
  }
}
